#publicacion{
    width: 400px;
    height: 100px;
    border-radius: 10px;
}

.text{
display: flex;
}

.hide{
    display: none;
}

ul,ol{
    list-style: none;
}

.menu li a{
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    text-decoration: none; 
}
.menu li ul {
    display:none
}